body {
    margin: 0;
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 150px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
}

.top-nav ul li {
    display: inline;
    padding-right: 10px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-main-left {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.header-main-left p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4px;
    
}

.header-button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.main {
    padding: 50px;
}

.main-information {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 900;
}

.images-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
    height: 250px;
}

.item {
    border: 4px solid #3882F6;
    border-radius: 14px;
    width: 175px;
    height: 175px;

}

.item img {
    width: 175px;
    height: 175px;
    border-radius: 14px;
}

.image-text {
    font-size: 16px;
    padding-top: 6px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 500px;
    padding-bottom: 50px;
}

.quote-wrapper {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-by {
    font-weight: 900;
    text-align: right;
    font-size: 24px;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.call-to-action-button {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 35px 125px;
    gap: 200px;
}

.call-to-action-button .text {
    color: #E5E7EB;
    font-size: 22px;
    font-weight: 700;
}

.text p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    width: 125px;
    height: 35px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #F9FAF8;
}